/* global settings */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --text-color: white;
  --bg-img: url(Media/bg-mobile.jpg);
  --back-color: rgba(255, 255, 255, 0.1);
  --back-color-hover: rgba(255, 255, 255, 0.05);
  --border-color: rgba(255, 255, 255, 0.5);
  --social-hover: rgba(255, 255, 255, 0.2);
  --switch-url: url(Media/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-img: url(Media/bg-mobile-light.jpg);
  --back-color: rgba(0, 0, 0, 0.05);
  --back-color-hover: rgba(0, 0, 0, 0.02);
  --border-color: rgba(0, 0, 0, 0.5);
  --social-hover: rgba(0, 0, 0, 0.1);
  --switch-url: url(Media/Sun.svg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  height: 100vh;
}

body * {
  font-family: 'Inter';
  font-weight: 500;
  color: var(--text-color);
}

/* main container settings */

#container {
  width: 100%;
  max-width: 588px;
  height: 712px;
  padding: 0px 24px;
  
  margin-right: auto;
  margin-left: auto;
  margin-top: 56px;
}

/* profile picture and name */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: 8px;
}

#profile p {
  font-size: 16px;
  line-height: 24px;
}

/* switch settings */

#switch {
  position: relative;
  width: 64px;
  
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0px;
  border-radius: 50%;
  
  background: white;
  background-image: var(--switch-url);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  z-index: 1;

  transform: translateY(-50%);
  top: 50%;
  left: 0;

  animation: slide-dark 0.4s backwards;
}

.light #switch button {
  animation: slide-light 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;

  border: 1px solid var(--border-color);
  background: var(--back-color);

  border-radius: 100px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#switch button:hover {
  outline: 8px solid var(--social-hover);
}

/* links */

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;

  list-style: none;
  padding: 24px 0px;
}


ul li a{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  border: 1px solid var(--border-color);
  background: var(--back-color);

  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;

  transition: background 0.35s;
}

ul li a:hover {
  background: var(--back-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social icons */

#socials {
  display: flex;
  justify-content: center;

  padding: 24px 0px;
}

ion-icon {
  font-size: 24px;
}

#socials a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 100%;

  transition: background 0.35s;
}

#socials a:hover {
  background: var(--social-hover);
}

/* footer */

footer {
  text-align: center;
  padding: 24px 0;
}

/* media queries */

@media ( min-width:700px ) {
  :root {
    --bg-img: url(Media/bg-desktop.jpg);
  }

  .light {
    --bg-img: url(Media/bg-desktop-light.jpg);
  }
}

/* animation */

@keyframes slide-light {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-dark {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}